/* Basic website spacing */

.blog-padding {
    padding-top: 75px;
}

.top-buffer {
    margin-top: 50px;
}

/* Image sizing in gallery */

.gallery {
    padding-top: 100px;
}

.img-fluid {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

/* day/night mode */

* {
	box-sizing: border-box;
}

body {
	background-color: #fafafa;
	transition: background 0.2s linear;
}

body.night {
	background: rgb(0, 0, 0);
    color: #fafafa;
}


body.night p {
	background: rgb(0, 0, 0);
    color: #fafafa;
}

body.night div {
	background: rgb(0, 0, 0);
    color: #fafafa;
}

.navbar {
    background: rgb(0, 0, 0);
}

/* hidden checkbox */

.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: rgb(255, 255, 255);
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
}

/* Circular slider on the day/night mode toggler */

.label .slider {
	background-color: black;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

/* Checking if the box is checked or not */

.checkbox:checked + .label .slider {
	transform: translateX(24px);
}